<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="Particles - Personal + Agency Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Steam Forge - <%=projects.name.toUpperCase()%></title>
	
	<!-- Royal Preloader CSS -->
	<link href="css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="/js/parallax.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="/js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link rel="/stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
	<link href="/css/logoiconfont.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
	<link href="/css/style-switcher.css" rel="stylesheet">
	
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/blue.css" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/green.css" title="green">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/orange.css" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/red.css" title="red">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/orangelight.css" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/pinkish.css" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="/css/colors/seagul.css" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="/css/base-light.css" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Start Switcher / Remove for production -->
	<div class="demo_changer">
	    <div class="demo-icon">
	        <i class="pe-7s-settings"></i>
	    </div><!-- end opener icon -->
	    <div class="form_holder">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="predefined_styles">
	                	<h4>Base</h4>
	                    <a href="" data-rel="main-css" class="styleswitch2"><div class="btn dark-css-square"></div></a>  
	                    <a href="" data-rel="base-light" class="styleswitch2"><div class="btn light-css-square"></div></a>
	                    <hr>
	                    <h4>Colors</h4>
	                    <a href="" data-rel="main-css" class="styleswitch"><div class="btn purple-css-square"></div></a>
	                    <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>    
	                    <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
	                    <a href="" data-rel="orange" class="styleswitch"><div class="btn orange-css-square"></div></a>
	                    <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
	                    <a href="" data-rel="orangelight" class="styleswitch"><div class="btn orangelight-css-square"></div></a>
	                    <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
	                    <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
	                </div><!-- /.end predefined_styles -->
	            </div><!-- /.end col -->
	        </div><!-- /.end row -->
	    </div><!-- /.end form_holder -->
	</div><!-- /.end demo_changer -->
	<!-- End Switcher / Remove for production -->

	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/" data-id="home"><img src="/images/NavLogo.png" 
						style="width:100%;max-width:35px;" class="img-responsive w3-round" alt="SteamForge Logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/" data-id="home" class="">Home</a></li>
							<li><a href="/project" data-id="projects" class="">Projects</a></li>
							<li><a href="#profile" data-id="profile" class="scroll-link">Details</a></li>
							<% if(projects.members.length !== 0){%>
								<li><a href="#team" data-id="team" class="scroll-link">Team</a></li>
							<%}%>
							<% if(projects.images.length !== 0){%>
								<li><a href="#work" data-id="work" class="scroll-link">Photos</a></li>
							<%}%>
							<% if(projects.partners.length !== 0){%>
							<li><a href="#partners" data-id="partners" class="scroll-link">Partners</a></li>
							<%}%>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main parallax-window" id="home" data-parallax="scroll" data-image-src=
	<% if(projects.banner_pic !== null) {%>
	"/resource/<%=projects.banner_pic%>">
	<%}else{%><%if(projects.main_pic !== null) {%>
	"/resource/<%=projects.main_pic%>">
	<%}else {%>
	"/images/slider4.jpg">
	<%}}%>
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class=" text-center">
					<h1 class="scaleReveal"style="text-transform: uppercase;">
						<strong><%=projects.name%></strong>
					</h1>
					
					<img src="/images/sfLogoOficial.png" style="max-width:500px;" 
						class="displayed img-responsive w3-round rotateBottomReveal" alt="SteamForge Logo">
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal">
							<span class="ion-mouse"></span><br>
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->

	<!-- The Modal -->
	<div id="myModal" class="modal">
	<span class="close pr30">&times;</span>
	<img class="modal-content" id="img01">
	</div>

	<!-- Start Profile -->
	<section id="profile" class="background2 section-padding">
		<div class="container">
			<div class="row scaleReveal">
				<div class="col-xs-12 section-title text-center">
					<h2>Project Details</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-4 pt30 leftReveal">
					<img id="myImg" alt="Project Main Photo" src="/resource/<%=projects.main_pic%>" 
					class="w3-border img-responsive " style="width:100%;cursor:zoom-in;">
					
					<script>
					// Get the modal
					var modal = document.getElementById('myModal');

					// Get the image and insert it inside the modal - use its "alt" text as a caption
					var img = document.getElementById('myImg');
					var modalImg = document.getElementById("img01");
					img.onclick = function(){
						modal.style.display = "block";
						modalImg.src = this.src;
					}

					// Get the <span> element that closes the modal
					var span = document.getElementsByClassName("close")[0];

					// When the user clicks on <span> (x), close the modal
					span.onclick = function() { 
						modal.style.display = "none";
					}
					// Close if click outside modal
					window.onclick = function(event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
					}
					</script>
					
				</div><!-- column -->
				<div class="col-sm-8 mt30-xs rightReveal">
					<div class="profile-box">
						<ul class="list-unstyled">
							<li><strong>Name:</strong> <%=projects.name.charAt(0).toUpperCase() + projects.name.slice(1)%></li>
							<% const monthNames = ["January", "February", "March", "April", "May", "June",
  							"July", "August", "September", "October", "November", "December"]; %>
							<li><strong>Started:</strong> <%=monthNames[projects.created_in.getMonth()]%> /
								<%=projects.created_in.getDate()%> /
								<%=projects.created_in.getFullYear()%></li>
							<li><strong>Description:</strong> <%=projects.description.charAt(0).toUpperCase() + projects.description.slice(1)%></li>
							<li><strong>Git:</strong> <a href="http://<%=projects.git%>" target="_blank"><%=projects.git%></a></li>
							<li><strong>State:</strong> <%=projects.state.toUpperCase()%></li>
							<% if(projects.external_url !== null){%>
							<li><strong>External URL:</strong> <a href="http://<%=projects.external_url%>" 
								target="_blank"><%=projects.external_url%></a></li>
							<%}%>
							<% if(projects.ended_in !== null){%>
							<li><strong>Ended:</strong> <%=monthNames[projects.ended_in.getMonth()]%> /
								<%=projects.ended_in.getDate()%> /
								<%=projects.ended_in.getFullYear()%></li>
							<%}%>
						</ul>
					</div>
					
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	<!-- End Profile -->
<% if(projects.members.length !== 0){%>

	<!-- Begin Team -->
	<section id="team" class="background2 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Team</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb40">
				<% for( let i=0; i < projects.members.length; i++) {%>
				<!-- Item 1 -->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 topReveal">
					<div class="team-member-box">
						<h3><%=projects.members[i].name.charAt(0).toUpperCase() + projects.members[i].name.slice(1)%> 
							<%=projects.members[i].last.charAt(0).toUpperCase() + projects.members[i].last.slice(1)%></h3>
						<p class="mb20"><a href="mailto:<%=projects.members[i].email%>" target="_blank"><%=projects.members[i].email%></a></p>
						<div class="team-image-wrapper">
							<span class="team-image-hover">
								<span class="team-hover-content">
									<!-- Social -->
									<span><span class="ion-android-share-alt social-icon-title"></span></span>
									<% if(projects.members[i].twitter !== null){%>
										<a href="http://<%=projects.members[i].twitter%>"target="_blank"><span 
										title="Twitter: <%=projects.members[i].twitter%> "class=
										"ion-social-twitter social-icons-light-hover mr15"></span></a>
									<%}%>
									<% if(projects.members[i].git !== null){%>
										<a href="http://<%=projects.members[i].git%>"target="_blank"><span 
										title="Git: <%=projects.members[i].git%> "class=
										"ion-social-github social-icons-light-hover mr15"></span></a>
									<%}%>
									<% if(projects.members[i].url !== null){%>
										<a href="http://<%=projects.members[i].url%>"target="_blank"><span 
										title="Url: <%=projects.members[i].url%> "class=
										"pe-7s-next-2 social-icons-light-hover"></span></a>
									<%}%>
								</span>
							</span>
							<img src="/resource/<%=projects.members[i].profile_pic%>" alt="1 Member" class="img-responsive img-circle team-member-img">
						</div>
					</div>
				</div><!-- /.column -->
				<%}%>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Team -->
<%}%>

<% if(projects.images.length !== 0){%>

	<!-- Work Seccion -->
	<section id="work" class="background2 section-padding-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Project Photos</h2>
					<span class="section-divider mb15"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->

			<div id="thework">
				<% for( let i=0; i < projects.images.length; i++) {%>
				
				<!-- Item 1 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix scaleReveal" data-my-order="<%=i%>">
			    	<div class="portfolio-image-holder"><img src="/resource/<%=projects.images[i].name%>" alt="<%=projects.images[i].name%>" class="img-responsive portfolio-image"></div>
					<span class="portfolio-badge-title badge"><%=projects.images[i].created_in.getMonth()%> / 
						<%=projects.images[i].created_in.getFullYear()%></span>
			    	<span class="portfolio-hover">
						<span>
							<a href="/resource/<%=projects.images[i].name%>" class="zoom" title="Project Photo <%=i+1%> ">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
						</span>
					</span>
			    </div><!-- /.column -->
				<%}%>
				
			    
			    
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Work -->
	<%}%>

	<!-- Begin Partners -->
	<section id="partners" class="background1 section-padding"data-parallax="scroll" data-image-src="images/slider1.jpg">
		<div class="container-fluid">
			<div class="row mb30">
				<div class="col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Partners</h2>
					<span class="section-divider mb15"></span>
					
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb50">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="heading-3 mt10 scaleReveal">Together we do it a lot Better!</h2>
					<% for (let i =0; i < projects.partners.length; i++) {%>
					<img src="/resource/<%=projects.partners[i].logo%>" alt="Partner <%=i%>" class="img-responsive pricing-clients mr15 topReveal">
					<%}%>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Partners -->

	<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<img src="/images/NavLogo.png" style="max-width:200px;" 
					class="displayed img-responsive w3-round" alt="SteamForge Logo">
					
					<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Jansen Bernard</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
	<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="/js/form-validator.min.js"></script>  
	<script type="text/javascript" src="/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="/js/jquery.countTo.js"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="/js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
