<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="Particles - Personal + Agency Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<style>
		.mySlides {display:none;}
	</style>	
	<title>Steam Forge IOT WebApp</title>

	<!-- Royal Preloader CSS -->
	<link href="css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="js/parallax.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="js/royal_preloader.min.js"></script>
	<script type="text/javascript">

		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/logoiconfont.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
	<link href="css/style-switcher.css" rel="stylesheet">

	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="green">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="css/base-light.css" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Start Switcher / Remove for production -->
	<div class="demo_changer">
	    <div class="demo-icon">
	        <i class="pe-7s-settings"></i>
	    </div><!-- end opener icon -->
	    <div class="form_holder">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="predefined_styles">
	                	<h4>Base</h4>
	                    <a href="" data-rel="main-css" class="styleswitch2"><div class="btn dark-css-square"></div></a>
	                    <a href="" data-rel="base-light" class="styleswitch2"><div class="btn light-css-square"></div></a>
	                    <hr>
	                    <h4>Colors</h4>
	                    <a href="" data-rel="main-css" class="styleswitch"><div class="btn purple-css-square"></div></a>
	                    <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>
	                    <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
	                    <a href="" data-rel="orange" class="styleswitch"><div class="btn orange-css-square"></div></a>
	                    <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
	                    <a href="" data-rel="orangelight" class="styleswitch"><div class="btn orangelight-css-square"></div></a>
	                    <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
	                    <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
	                </div><!-- /.end predefined_styles -->
	            </div><!-- /.end col -->
	        </div><!-- /.end row -->
	    </div><!-- /.end form_holder -->
	</div><!-- /.end demo_changer -->
	<!-- End Switcher / Remove for production -->

	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand scroll-link" href="#home" data-id="home"><img src="images/NavLogo.png" 
						style="width:100%;max-width:35px;" class="img-responsive w3-round" alt="SteamForge Logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" data-id="home" class="scroll-link">Home</a></li>
							<li><a href="#about" data-id="about" class="scroll-link">About</a></li>
							<li class="dropdown">
							<a href="#work" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-id="work" class=" dropdown-toggle scroll-link">
								<span class="glyphicon glyphicon-menu-down"></span>Catalog</a>
								<ul class="dropdown-menu">
									<li><a href="/project">Lab Projects</a></li>
								</ul>
							</li>
							<li><a href="#social" data-id="social" class="scroll-link">Social Media</a></li>
							<li><a href="#news" data-id="news" class="scroll-link">News</a></li>
							<li><a href="#events" data-id="events" class="scroll-link">Events</a></li>
							<li><a href="#partners" data-id="partners" class="scroll-link">Partners</a></li>
							<li><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div><!-- /.particles div -->
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h1 class="scaleReveal">
						  <img src="images/sfLogoOficial.png" style="width:100%;"
        					class="img-responsive bottomReveal w3-round" alt="SteamForge Logo">
					</h1>
					<hr class="bottomReveal">
					<p class="bottomReveal w3-xxlarge">IoT Research &#38; Development Incubator Program.</p>
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal">
							<span class="ion-mouse"></span><br>
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->

	<!-- Begin Intro -->
	<section id="about">

		<!-- Begin Hello Intro -->
		<div id="hello-intro" class="pt60 pb60">
			<div class="container">
				<div class="row">
					<div class="w3-third">
						<h2 class="no-margin rotateLeftReveal">Engine&minus;4.</h2>
					</div>
					<div class="w3-twothird">
						<h3 class="no-margin w3-xxlarge rightReveal"><strong>Helping many business and startups to grow and develop their technology.</strong></h3>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Hello Intro -->

		<!-- Begin Our Process Title -->
		<div id="our-process-title" class="pt30 pb30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="no-margin"><strong>ABOUT</strong></h4>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process Title -->

		<!-- Begin Our Process -->
		<div id="our-process">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div class="leftReveal">
							<div class="process-intro">
								
								<div> <img src="/images/enginepic.jpg" alt="Engine Logo" class="w3-round" height="300" width="350"> </div>
								<h2>First IOT Centere<br>in the Caribbean</h2>
								<p class="no-margin">Providing shared and/or dedicated working<br>spaces for individuals and SMB&#8217;s</p>
							</div>
							<div class="process-content">
								
								<div> <img src="/images/engine_gobe.jpg" alt="Governor Pic" class="w3-round" height="300" width="350"> </div>
								<h2>In partnership with the Goverment<br>and many other institutions</h2>
								<p class="no-margin">Providing the best experience to our custommers, students and sponsors.</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div class="bottomReveal">
							<div class="process-intro">
										<!--<h3 class="process-number">02</h3> -->	
								<div> <img src="/images/SFlogo.png" alt="Steam Forge Logo" class="w3-round" height="300" width="350"> </div>
								<h2>Highly Productive Laboratory <br>With the Latest Technology</h2>
								<p class="no-margin">In order to mantain our visitor updated and promote mutual <strong>GROUTH</strong>.</p>
							</div>
							<div class="process-content">
							
								<div><img src="/images/SFlogo.png" alt="Steam Forge Logo" class="w3-round" height="300" width="350"> </div>
								<h2>Promoting Research &<br>Development in loT Ecosystem</h2>
								<p class="no-margin">Supporting technologies like Al, Robotics, Block Chain and Cloud/Micro services.</p>
							</div>
						</div>
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
						<div class="rightReveal">
							<div class="process-intro">
								<div><img src="/images/local_pic.jpg" alt="Local Front Pic" class="w3-round rotateBottomReveal" height="300" width="350"></div>
								<h2>Centered and Accesible<br>Modern Facilities</h2>
								<p class="no-margin">For the confort of all our stakeholders and located at the heart of the city of Bayam&oacute;n, Puerto Rico.</p>
							</div>
							<div class="process-content">
									<div><img src="/images/room2.jpg" alt="WorkSpace Pic" class="w3-round" height="300" width="350"> </div>
								<h2>One of the Best Telecomunications <br>Infrastructures in the Island</h2>
								<p class="no-margin">Providing mentorship services, conference and meeting spaces for networking .</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process -->

		<!-- Begin Quote Carousel -->
		<div id="carousel" class="testimonial-carousel pt40 pb20">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<span class="pe-7s-close heading-3-icon"></span>
		                <h2 class="heading-3">Objectives</h2>
						<div class="fade-quote-carousel carousel slide" id="quote-carousel" data-ride="carousel" data-interval="3000">
							<!-- Carousel indicators -->
							<ol class="carousel-indicators">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								<li data-target="#quote-carousel" data-slide-to="4"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item">
									<blockquote>
										<p>Develop students and young entrepreneurs research and development technical skills.</p>
									</blockquote>
								</div>
								<div class="item">
									<blockquote>
										<p>Provide real world experiences in the technology business .</p>
									</blockquote>
								</div>
								<div class="item">
									<blockquote>
										<p>Incubate ideas with proposals from student teams to execute in the span of 1 year.</p>
									</blockquote>
								</div>
								<div class="item">
									<blockquote>
										<p>Develop initiatives in fields such as Internet of Things, Artificial Intelligence and Blockchain.</p>
									</blockquote>
								</div>
								<div class="item">  
									<blockquote>
										<p>Connect organizations with talented STEAM (Science, Technology, Engineering, Arts, Math) students.</p>
									</blockquote>
								</div>
							</div>

						</div><!-- /.carousel -->
					</div><!-- /.column -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.carousel -->
		<!-- End Quote Carousel -->

	</section><!-- /.section -->
	<!-- End Intro -->


	<!-- Work Seccion -->
	<section id="work" class="background2 section-padding-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Project Catalog</h2>
					<span class="section-divider mb15"></span>
					<p class="mb30 scaleReveal">We do awesome stuffs here!</p>
				</div><!-- /.column -->
			</div><!-- /.row -->

			<!-- Slide Show -->
			<h2 class="section-title text-centerr">Top Projects</h2>

			<div class="w3-content w3-section w3-display-container scaleReveal" style="max-width:800px">
				<%for( let i=0; i < projects.length; i++) {%>
				<%if(projects[i].is_top === true && projects[i].banner_pic !== undefined && projects[i].banner_pic !== null ){%>
				<img class="mySlides" src="/resource/<%=projects[i].banner_pic%>" style="width:100%">
				<%}%>
				<%}%>
				<br>
				<br>
			</div>
			<script>
				var myIndex = 0;
				carousel();

				function carousel() {
				var i;
				var x = document.getElementsByClassName("mySlides");
				for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";  
				}
				myIndex++;
				if (myIndex > x.length) {myIndex = 1}    
				x[myIndex-1].style.display = "block";  
				setTimeout(carousel, 4000); // Change image every 2 seconds
				}		
			</script>
			<!-- Slide Show -->

			<div class="row scaleReveal">
				<div class="col-xs-12 text-center mb50">
					<!-- Filter Buttons -->
					<button class="filter btn btn-default btn-category btn-lg" data-filter="all">All</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".IOT">IoT</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".AI">Artificial Intelligence</button>
					<button class="filter btn btn-default btn-category btn-lg" data-filter=".VR">Virtual Riality</button>

					<!-- Sort Buttons -->
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:asc"><span class="ion-ios-plus-empty"></span></button>
					<button class="sort btn btn-default btn-sort btn-lg" data-sort="my-order:desc"><span class="ion-ios-minus-empty"></span></button>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div id="thework">
				<% for( let i=0; i < projects.length; i++) {%>
				<% if(projects[i].state.toUpperCase() === 'ACTIVE'){%>
				<!-- Item 1 -->
			    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix <%=projects[i].tag.toUpperCase()%> scaleReveal" data-my-order="<%=i%>">
			    	<div class="portfolio-image-holder"><img src="/resource/<%=projects[i].main_pic%>" alt="1" class="img-responsive portfolio-image"></div>
					<span class="portfolio-badge-title badge"><%=projects[i].created_in.getMonth()%> / 
						<%=projects[i].created_in.getFullYear()%></span>
					<span class="w3-large portfolio-badge badge"><%=projects[i].name%></span>
			    	<span class="portfolio-hover">
						<span>
							<a href="/project/<%=projects[i].id%>" target="_blank">
								<span class="portfolio-links"><span class="ion-ios-arrow-right portfolio-links-icons"></span></span>
							</a>
							<a href="/resource/<%=projects[i].main_pic%>" class="zoom" title="">
								<span class="portfolio-links"><span class="ion-arrow-expand portfolio-links-icons"></span></span>
							</a>
						</span>
					</span>
			    </div><!-- /.column -->
				<%}%>
				<%}%>
			    <!-- Item 2 -->
			    
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- Begin Work -->


	<!-- Begin Social Media -->
	<section id="social" class="background1 section-padding ">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Social Media</h2>
					<span class="section-divider mb15"></span>
					<p class="mb30 scaleReveal">Make sure to FOLLOW US!</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb15">
				<div class="w3-third  w3-padding  leftReveal">
					<a class="twitter-timeline" data-height="785" data-theme="light" data-link-color="#FAB81E" 
					href="https://twitter.com/ForgeSteam?ref_src=twsrc%5Etfw">Tweets by ForgeSteam</a>
					 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
				</div><!-- /.column -->
				<div class="w3-third  w3-padding  scaleReveal fb-page" data-href="https://www.facebook.com/engine4cws/" data-tabs="timeline" 
					data-height="735" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" 
					data-show-facepile="true"><blockquote cite="https://www.facebook.com/engine4cws/" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/engine4cws/">Engine-4 Coworking Space</a></blockquote></div>
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
				<div class="w3-third w3-padding rightReveal">
						<%-insta.html%>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- Social Media -->

	<!-- Begin Our Count -->
	<section id="ourcount" class="section-padding parallax-window our-count" data-parallax="scroll" data-image-src="images/sfLogoOficial.png">
		<div class="container">
			
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Our Count -->

	<!-- Start News -->
	<section id="news" class="background2 section-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>News</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row w3-padding background1">

				<!-- /.IoT News start -->
				<div class="w3-half  w3-padding-large leftReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=iotNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
					<% for( let i=0; i < iotNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(iotNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=iotNews.news[i]["media:content"].$.url%>" alt="1" class="img-responsive w3-round  w3-border">
							<%}else {%>
							<img src="images/newsPics/iot.jpg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=iotNews.news[i].link%>" target="_blanc"><%=iotNews.news[i].title%></a></strong></h3>
							<%if(iotNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-iotNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /.IoT News Finish -->
				<!-- /.AI News start -->
				<div class="w3-half w3-padding-large rightReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=aiNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
							
					<% for( let i=0; i < aiNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(aiNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=aiNews.news[i]["media:content"].$.url%>" alt="2" class="img-responsive w3-round w3-border"style="max-width:270px">
							<%}else {%>
							<img src="images/newsPics/ai.jpg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=aiNews.news[i].link%>" target="_blanc"><%=aiNews.news[i].title%></a></strong></h3>
							<%if(aiNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-aiNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /.AI News Finish -->
			</div><!-- /.row -->

			<div class="row w3-padding background1">

				<!-- /.Robotics News start -->
				<div class="w3-half w3-padding-large leftReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=robNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
					<% for( let i=0; i < robNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(robNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=robNews.news[i]["media:content"].$.url%>" alt="1" class="img-responsive w3-round w3-border">
							<%}else {%>
							<img src="images/newsPics/rob.jpg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=robNews.news[i].link%>" target="_blanc"><%=robNews.news[i].title%></a></strong></h3>
							<%if(robNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-robNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /.Robotics News Finish -->
				<!-- /.Big Data News start -->
				<div class="w3-half w3-padding-large rightReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=bdNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
							
					<% for( let i=0; i < bdNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(bdNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=bdNews.news[i]["media:content"].$.url%>" alt="1" class="img-responsive w3-round w3-border">
							<%}else {%>
							<img src="images/newsPics/bd.jpeg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=bdNews.news[i].link%>" target="_blanc"><%=bdNews.news[i].title%></a></strong></h3>
							<%if(bdNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-bdNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /.Big Data News Finish -->
			</div><!-- /.row -->

			<div class="row w3-padding background1">

				<!-- /.3D Printing News start -->
				<div class="w3-half  w3-padding-large leftReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=printingNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
					<% for( let i=0; i < printingNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(printingNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=printingNews.news[i]["media:content"].$.url%>" alt="1" class="img-responsive w3-round w3-border">
							<%}else {%>
							<img src="images/newsPics/printing.jpg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=printingNews.news[i].link%>" target="_blanc"><%=printingNews.news[i].title%></a></strong></h3>
							<%if(printingNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-printingNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /.3D Printing Finish -->
				<!-- /.Machine Learning News start -->
				<div class="w3-half  w3-padding-large rightReveal">
					<div class="row">
						<div class="col-xs-12 section-title text-center">
							<h2><%=machineNews.title%></h2>
							<span class="section-divider"></span>
						</div><!-- /.column -->
					</div><!-- /.row -->
							
					<% for( let i=0; i < machineNews.news.length; i++) {%>
					<div class="row team-member-box">
						<div class="w3-third w3-padding">
							<%if(machineNews.news[i]["media:content"] !== undefined) {%>
							<img src="<%=machineNews.news[i]["media:content"].$.url%>" alt="1" class="img-responsive w3-round w3-border">
							<%}else {%>
							<img src="images/newsPics/machine.jpg" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
							<%}%>
							
						</div>
						<div class="w3-twothird ">
							<h3><strong><a href="<%=machineNews.news[i].link%>" target="_blanc"><%=machineNews.news[i].title%></a></strong></h3>
							<%if(machineNews.news[i].description !== undefined) {%>
							<p class="no-margin"><%-machineNews.news[i].description%></p><%}%>
						</div>
					</div>
					<br>
					<%}%>
				
				</div>
				<!-- /. News Finish -->
			</div><!-- /.row -->

		</div><!-- /.container -->
	</section>
	<!-- End Profile -->

	
	<% if(events.events.length !== 0) {%>	
	<!-- Begin Events -->
	<section id="events" class="background2 section-padding-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>Events</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="w3-container">
				
					

					<% for( let i=0; i < events.events.length; i++) {%>
						<!-- Item 1 -->
						<div class="w3-container pb100">
							<div class="w3-bottombar scaleReveal"><a href="<%=events.events[i].url%>"target="_blank">
							<img alt="" class=" img-responsive" 
								src="<%=events.events[i].logo.original.url %>"></a></div>
							<div class="row">
								<div clas"w3-padding">
									<a href="<%=events.events[i].url%>"target="_blank"><h3 class="subheading">
									<strong><%=events.events[i].name.text%></strong></a></h3>
									<h4 class="heading-1 mb15"><%=new Date(events.events[i].start.utc).getMonth()+1%>/
										<%=new Date(events.events[i].start.utc).getDate()%>/
										<%=new Date(events.events[i].start.utc).getFullYear()%> at 
										<%=new Date(events.events[i].start.utc).getHours()%> PM</h4>
								</div>
								<div class="w3-padding">
									<h5 class="heading-1 mb15"><%=events.events[i].description.text.slice(0,500)%></h5>
									
								</div>
								
							</div>
						</div>
					<%}%>
						
					
				<!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Events -->
	<%}else{%>

	<section id="events" class="background2 section-padding-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>No Upcoming Events</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<%}%>

	<!-- Begin Partners -->
	<section id="partners" class="background1 section-padding"data-parallax="scroll" data-image-src="images/slider1.jpg">
		<div class="container-fluid">
			<div class="row mb30">
				<div class="col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Partners</h2>
					<span class="section-divider mb15"></span>
					
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb50">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="heading-3 mt10 scaleReveal">Together we do it a lot Better!.</h2>
					<% for (let i =0; i < sponsors.length; i++) {%>
					<img src="resource/<%=sponsors[i].logo%>" alt="Partner <%=i%>" class="img-responsive pricing-clients mr15 topReveal">
					<%}%>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Pricing -->

	<!-- Begin Contact -->
	<section id="contact" class="background2 section-padding">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
					<h2>Contact</h2>
					<span class="section-divider mb15"></span>
					<p class="no-margin scaleReveal">Start Developing Today.</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-5 col-lg-4">
				<img src="images/sfLogo.png" alt="1" class="img-responsive " style="max-width:350px">
				</div><!-- /.column -->
				<div class="col-sm-6 col-lg-7 mt30-xs">
				<h5 class="heading-1 mb20">Visit Us</h5>
					<h3 class="mb15">Complejo Onofre Carballeira Esq. PR-2 con Int. PR-5, Bayamón, 00959, Puerto Rico</h3>
					<hr class="mini-hr">
					<p class="text-xs-small mb5"><strong class="text-switch">Email:</strong></p> <h4>ltorres@engine-4.com</h4><br>
					<p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong></p> <h4>+1 787-234-1975</h4>
					
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End Contact -->


	<!-- Begin Map -->
	<div id="map"></div>
	<!-- End Map -->

	<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
				<img src="images/sfLogoBolitas.png" style="max-width:200px;" 
				class="displayed img-responsive w3-round" alt="SteamForge Logo">
					<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Jansen Bernard</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // Engine
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(18.3953, -66.1526),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
	<script type="text/javascript" src="js/particles.min.js"></script>
	<script type="text/javascript" src="js/particlesRun.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="js/form-validator.min.js"></script>
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
