<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="Particles - Personal + Agency Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Steam Forge Projects</title>
	
	<!-- Royal Preloader CSS -->
	<link href="css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="js/parallax.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/logoiconfont.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
	<link href="css/style-switcher.css" rel="stylesheet">
	
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="blue">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="green">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish">
	<link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul">
	<link rel="alternate stylesheet" type="text/css" href="css/base-light.css" title="base-light">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>

	<!-- Start Switcher / Remove for production -->
	<div class="demo_changer">
	    <div class="demo-icon">
	        <i class="pe-7s-settings"></i>
	    </div><!-- end opener icon -->
	    <div class="form_holder">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="predefined_styles">
	                	<h4>Base</h4>
	                    <a href="" data-rel="main-css" class="styleswitch2"><div class="btn dark-css-square"></div></a>  
	                    <a href="" data-rel="base-light" class="styleswitch2"><div class="btn light-css-square"></div></a>
	                    <hr>
	                    <h4>Colors</h4>
	                    <a href="" data-rel="main-css" class="styleswitch"><div class="btn purple-css-square"></div></a>
	                    <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>    
	                    <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
	                    <a href="" data-rel="orange" class="styleswitch"><div class="btn orange-css-square"></div></a>
	                    <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
	                    <a href="" data-rel="orangelight" class="styleswitch"><div class="btn orangelight-css-square"></div></a>
	                    <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
	                    <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
	                </div><!-- /.end predefined_styles -->
	            </div><!-- /.end col -->
	        </div><!-- /.end row -->
	    </div><!-- /.end form_holder -->
	</div><!-- /.end demo_changer -->
	<!-- End Switcher / Remove for production -->

	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/" data-id="home"><img src="images/NavLogo.png" 
						style="width:100%;max-width:35px;" class="img-responsive w3-round" alt="SteamForge Logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/" data-id="home" class="">Home</a></li>
							<li><a href="#projects" data-id="projects" class="scroll-link">Projects</a></li>
							
							
							
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin Jumbotron -->
	<div class="jumbotron jumbotron-main" id="home">
		<div id="particles-js"></div><!-- /.particles div -->
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h1 class="scaleReveal">
						  <img src="images/sfLogoOficial.png" style="width:100%;"
        					class="img-responsive bottomReveal w3-round" alt="SteamForge Logo">
					</h1>
					<hr class="bottomReveal">
					<p class="bottomReveal w3-xxlarge">IoT Research &#38; Development Incubator Program.</p>
					<a href="#ideology" data-id="ideology" class="scroll-link">
						<div class="scroll-indicator rotateBottomReveal">
							<span class="ion-mouse"></span><br>
							<span class="ion-android-arrow-down arrow-scroll-indicator"></span>
						</div>
					</a>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->

	<!-- Begin Intro -->
	


		<!-- Begin Our Process Title -->
		<div id="our-process-title" class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="proj">Lab Projects</h4>
						
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process Title -->

	<section id="projects"class=" background1 section-padding">

		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr class="">
					<td><h2 class="ttitle"><strong>Name</strong></h2></td>
					<td><h2 class="ttitle">Date Started</h2></td>
					<td><h2 class="ttitle">Tag</h2></td>
					<td><h2 class="ttitle">Photo</h2></td>
					<td><h2 class="ttitle">State</h2></td>
				</tr>
				</thead>
				<tbody>
				<% for( let i=0; i < projects.length; i++) {%>
				<tr id=""class="trow clickable-row" data-href="/project/<%=projects[i].id%>">
					<td><h3 class="proj"><%=projects[i].name%></h3></td>
					<% const monthNames = ["January", "February", "March", "April", "May", "June",
  					"July", "August", "September", "October", "November", "December"]; %>

					<td><h3 class="proj"><%=monthNames[projects[i].created_in.getMonth()]%> /
										<%=projects[i].created_in.getDate()%> /
										<%=projects[i].created_in.getFullYear()%></h3></td>
					<td><h3 class="proj"><%=projects[i].tag%></h3></td>
					<td> <img src="resource/<%=projects[i].main_pic%>" alt="1" class="img-responsive w3-round w3-border" style="max-width:270px">
					<td><h3 class="proj"><%=projects[i].state%></h3></td>
					</td>
				</tr>

				<%}%>
				
				</tbody>
			</table>
			</div>
	</section>



		
	<!-- Begin Footer -->
	<footer class="footer-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					
					<img src="images/sfLogo.png" style="max-width:200px;" 
					class="displayed img-responsive w3-round" alt="SteamForge Logo">
					<a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
	                <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-small text-center">
					<hr>
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
					<p class="no-margin">&copy; Jansen Bernard</p>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.footer -->
	<!-- Begin Footer -->

	<!-- Javascript Files -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
	</script>
	<script type="text/javascript" src="js/particles.min.js"></script>
	<script type="text/javascript" src="js/particlesRun.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="js/form-validator.min.js"></script>  
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
