/* =Common Styles
-------------------------------------------------------------- */
a {
    color: #3498db;
}

span.divider {
    background-color: #3498db;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
#contact .form-control:focus,
#contact .form-control:hover, 
#contact .form-control:active { 
    border-color: #3498db;
}

#contact .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #3498db;
}

.demo_changer .demo-icon {
    background: #3498db;
}

#royal_preloader.royal_preloader_number .royal_preloader_percentage:after {
    border-left-color: #3498db;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    border-bottom: 2px solid #2989d8;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #1e5799;
}

.nav-tabs>li>a:hover {
    border-color: #1e5799;
}

a:focus, a:hover {
    color: #3498db;
}

ul.list-arrow-2-color li:before {
    color: #3498db;
}

ul.list-arrow-color li:before {
    color: #3498db;
}

/* =Buttons
-------------------------------------------------------------- */
.btn-default:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #237AB5;
    border-color: #237AB5;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #237AB5;
    border-color: #237AB5;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #237AB5;
    border-color: #237AB5;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #237AB5;
    border-color: #237AB5;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #237AB5;
    border-color: #237AB5;
}

.btn-light:hover {
    background-color: #3498db;
    border-color: #3498db;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #3498db;
}

/* =Progress Bars
-------------------------------------------------------------- */
.progress-bar {
    background-color: #3498db;
}

/* =Modals
-------------------------------------------------------------- */
.modal-header {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 30%, #207cca 63%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 30%,#207cca 63%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1e5799 0%,#2989d8 30%,#207cca 63%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #3498db;
}

/* =Navigation
-------------------------------------------------------------- */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #63C0FF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #63C0FF;
}

.navbar-default .navbar-toggle {
    border-color: #3498db;
    background-color: #3498db;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #237AB5;
}

/* =Jumbotron Main
-------------------------------------------------------------- */
#particles-js {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 30%, #207cca 63%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 30%,#207cca 63%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #072c57 0%,#000 30%,#000 63%,#0b3457 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

/* =Our Process
-------------------------------------------------------------- */
#our-process .process-icons {
	color: #3498db;
}

/* =Testimonial
-------------------------------------------------------------- */
.fade-quote-carousel.carousel .carousel-indicators .active {
	background-color: #3498db;
}

.fade-quote-carousel.carousel .carousel-indicators > li {
    border: 1px solid #3498db;
}

/* =Services
-------------------------------------------------------------- */
.services-icon { 
    font-size: 40px;
    color: #3498db;
}

/* =About
-------------------------------------------------------------- */
.basic-carousel.carousel .carousel-indicators > li {
	border: 1px solid #3498db;
}

.basic-carousel.carousel .carousel-indicators .active {
	background-color: #3498db;
}

/* =Our Count
-------------------------------------------------------------- */
#ourcount .item > .circle-hold {
    background-color: #3498db;
}

/* =Team
-------------------------------------------------------------- */
.team-image-wrapper .team-image-hover {
	background-color: rgba(52, 152, 219, 0.75); 
}

/* =Work
-------------------------------------------------------------- */
span.portfolio-hover {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 30%, #207cca 63%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 30%,#207cca 63%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1e5799 0%,#2989d8 30%,#207cca 63%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.portfolio-links:hover {
    color: #3498db;
}

/* =Pricing
-------------------------------------------------------------- */
.plan li > strong {
	color: #3498db;
}

.plan.featured:hover li.plan-name {
	background: #3498db;
}